@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Manrope,'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .row {
    width: 1200px;
  }
}

@media only screen and (min-width: 1400px) {
  .row {
    width: 1400px;
  }
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 1px 0px #E5E9F2;
}

.header--active .nav__contact, .header--active .nav__sign {
  left: 0;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
}

.nav__burger {
  margin-left: 4%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  transform: scale(0.8) translateX(-4px);
  transition: all 0.2s ease-in-out;
}

.nav__burger__left {
  background: #8C30F5;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav__burger__left::before, .nav__burger__left::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background: #8C30F5;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -10px;
}

.nav__burger__left::before {
  transform: translateY(-10px);
}

.nav__burger__left::after {
  transform: translateY(10px);
}

.nav__burger__right {
  background: #8C30F5;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -5px;
  align-content: center;
}

.nav__burger__right::before, .nav__burger__right::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background: #8C30F5;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-left: -10px;
}

.nav__burger__right::before {
  transform: translateY(-10px);
}

.nav__burger__right::after {
  transform: translateY(10px);
}

.nav__contact {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: calc(100vh - 60px);
  height: 1200px;
  top: calc(59.9px);
  position: fixed;
  left: -100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 1px #8C30F5;
  z-index: 100;
}

.nav__contact__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 10vh;
}

.nav__contact__li {
  text-align: center;
  margin-bottom: 10px;
}

.nav__contact__a {
  text-decoration: none;
  color: #0B0D17;
  font-size: 14px;
  font-weight: 700;
}

.nav__contact__wrap {
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.nav__contact__wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(55px);
  height: 1px;
  width: 80vw;
  background-color: #8C30F5;
}

.nav__contact__wrap::after:nth-child(1) {
  background-color: red;
}

.nav__contact__wrap:hover {
  color: purple;
  font-size: 16px;
}

.nav__logo {
  margin-right: 4%;
  height: 23px;
  margin-left: auto;
}

.nav__sign {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 400px;
  position: absolute;
  left: -100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.nav__sign__ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav__sign__li:first-child {
  margin-right: 10%;
}

.nav__sign__a {
  text-decoration: none;
}

.nav__sign__a .menu-btn1 {
  background-color: #F1E4FF;
  color: #8C30F5;
  transition: all 0.2s ease-in-out;
}

.nav__sign__a .menu-btn1:hover {
  background-color: magenta;
  color: white;
}

.nav__sign__a .menu-btn2 {
  background-color: #8C30F5;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav__sign__a .menu-btn2:hover {
  background-color: magenta;
  color: white;
}

.nav__sign__wrap {
  border: none;
  border-radius: 8px;
  box-shadow: none;
  height: 40px;
  width: 120px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    position: fixed;
    box-shadow: 0px 1px 0px #E5E9F2;
    z-index: 100;
  }
  .nav {
    width: 1200px;
    justify-content: space-between;
  }
  .nav__burger {
    display: none;
  }
  .nav__contact {
    background-color: transparent;
    position: sticky;
    height: auto;
    width: auto;
    box-shadow: none;
  }
  .nav__contact__ul {
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: 60px;
  }
  .nav__contact__wrap {
    margin-top: 7px;
    width: 100px;
    height: fit-content;
    margin-right: 0px;
  }
  .nav__contact__wrap::after {
    display: none;
  }
  .nav__logo {
    margin: 0;
    width: auto;
  }
  .nav__sign {
    position: sticky;
    height: 60px;
    width: 320px;
    margin: 0;
  }
  .nav__sign__ul {
    align-items: center;
  }
  .nav__sign__wrap {
    position: sticky;
    margin: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .nav {
    width: 1400px;
  }
}

.hero__div-text {
  margin-top: 4%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__div-text__h1 {
  color: #0B0D17;
}

.hero__div-text__p {
  margin-top: 16px;
  color: #0B0D17;
  text-align: center;
  width: 280px;
}

.hero__div-text__button {
  margin-top: 48px;
  background-color: #8C30F5;
  border: none;
  border-radius: 8px;
  width: 196px;
  height: 62px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero__div-text__button:hover {
  background-color: magenta;
}

.hero__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: #0B0D17;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
}

.hero__div-image {
  background-color: #0B0D17;
  height: 300px;
  width: 250px;
  position: absolute;
  z-index: 0;
}

.hero__div-image__image {
  transform: scale(0.6);
  position: absolute;
}

.hero__div-image > :nth-child(1) {
  top: 50px;
  left: -60px;
}

.hero__div-image > :nth-child(2) {
  top: -20px;
  left: 60px;
}

.hero__div-image > :nth-child(3) {
  top: 150px;
  left: 20px;
}

.hero__div-image > :nth-child(4) {
  top: 150px;
  left: 150px;
}

.hero__div-image > :nth-child(5) {
  top: 50px;
  left: 210px;
}

.hero__div-image > :nth-child(6) {
  top: 0px;
  left: -40px;
}

.hero__div-image > :nth-child(7) {
  top: 120px;
  right: -30px;
}

.hero__div-image > :nth-child(8) {
  bottom: -15px;
  left: 100px;
}

@media only screen and (min-width: 768px) {
  .hero__div-text__p {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: calc(866px - 126px);
  }
  .hero__div-text {
    margin-top: 0%;
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
  }
  .hero__div-text__h1 {
    font-size: 72px;
    font-weight: 800;
  }
  .hero__div-text__p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
  .hero__wrapper {
    margin-top: 0%;
    width: 610px;
    height: 100%;
  }
  .hero__div-image {
    width: 610px;
    height: 794;
  }
  .hero__div-image__image {
    transform: scale(1);
    z-index: 3;
  }
  .hero__div-image > :nth-child(1) {
    top: 0px;
    left: -60px;
  }
  .hero__div-image > :nth-child(2) {
    top: -50px;
    left: 250px;
  }
  .hero__div-image > :nth-child(3) {
    top: 230px;
    left: 100px;
  }
  .hero__div-image > :nth-child(4) {
    top: 300px;
    left: 350px;
  }
  .hero__div-image > :nth-child(5) {
    top: 0px;
    left: 430px;
    z-index: 2;
  }
  .hero__div-image > :nth-child(6) {
    top: -130px;
    left: -30px;
  }
  .hero__div-image > :nth-child(7) {
    top: 180px;
    right: 0px;
  }
  .hero__div-image > :nth-child(8) {
    bottom: -220px;
    left: 220px;
  }
}

.clouds__div-text {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clouds__div-text__h1 {
  margin-top: 20px;
  color: #0B0D17;
  text-align: center;
}

.clouds__div-text__p {
  margin-top: 16px;
  color: #0B0D17;
  text-align: center;
  width: 240px;
}

.clouds__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
}

.clouds__div-image {
  background-image: url(../img/circle-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 0;
}

.clouds__div-image__image {
  transform: scale(0.6);
  position: absolute;
}

.clouds__div-image > :nth-child(1) {
  top: -45px;
  left: 75px;
}

.clouds__div-image > :nth-child(2) {
  top: 20px;
  left: 180px;
}

.clouds__div-image > :nth-child(3) {
  top: 30px;
  left: 75px;
}

.clouds__div-image > :nth-child(4) {
  top: 140px;
  left: 180px;
}

.clouds__div-image > :nth-child(5) {
  top: 140px;
  left: -35px;
}

.clouds__div-image > :nth-child(6) {
  top: 200px;
  left: 75px;
}

.clouds__div-image > :nth-child(7) {
  top: 110px;
  left: 117px;
}

.clouds__div-image > :nth-child(8) {
  top: 110px;
  left: 30px;
}

.clouds__div-image > :nth-child(9) {
  top: 20px;
  left: -35px;
}

@media only screen and (min-width: 768px) {
  .clouds__div-text__p {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .clouds {
    display: flex;
    justify-content: space-between;
    height: 614px;
  }
  .clouds__div-text {
    margin-top: 0%;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
  }
  .clouds__div-text__h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: start;
  }
  .clouds__div-text__p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
  .clouds__wrapper {
    margin-top: 0%;
    width: 610px;
    height: 100%;
  }
  .clouds__div-image {
    width: 610px;
    height: 794;
    height: 486px;
    margin-right: 100px;
  }
  .clouds__div-image__image {
    transform: scale(1);
    z-index: 3;
  }
  .clouds__div-image > :nth-child(1) {
    top: -45px;
    left: 195px;
  }
  .clouds__div-image > :nth-child(2) {
    top: 30px;
    left: 365px;
  }
  .clouds__div-image > :nth-child(3) {
    top: 100px;
    left: 195px;
  }
  .clouds__div-image > :nth-child(4) {
    top: 370px;
    left: 365px;
  }
  .clouds__div-image > :nth-child(5) {
    top: 375px;
    left: 25px;
  }
  .clouds__div-image > :nth-child(6) {
    top: 440px;
    left: 195px;
  }
  .clouds__div-image > :nth-child(7) {
    top: 230px;
    left: 285px;
  }
  .clouds__div-image > :nth-child(8) {
    top: 230px;
    left: 100px;
  }
  .clouds__div-image > :nth-child(9) {
    top: 30px;
    left: 15px;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  width: 92%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features__cards {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__cards__card {
  margin-right: 20px;
  width: 300px;
  margin-bottom: 20px;
}

.features__cards__card__img {
  margin-top: 20px;
  margin-bottom: 24px;
}

.features__cards__card__title {
  font-size: 24px;
  font-weight: 600;
  color: #0B0D17;
  margin-bottom: 8px;
}

.features__cards__card__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #0B0D17;
  margin-bottom: 24px;
}

.features__cards__card__more {
  margin-bottom: 20px;
}

.features__cards__card__more__link {
  text-decoration: none;
}

.features__cards__card__more__span {
  color: #8C30F5;
  margin-right: 8.83px;
  font-weight: 800;
}

@media only screen and (min-width: 1200px) {
  .features {
    height: 432px;
    justify-content: center;
  }
  .features__title {
    width: 94.5%;
    font-size: 48px;
    font-weight: 800;
    color: #18191F;
    margin-bottom: 48px;
  }
  .features__cards {
    width: 94.5%;
    justify-content: left;
  }
  .features__cards__card {
    width: 347px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .features__cards__card {
    margin-right: 60px;
  }
}

.testimonial {
  background-color: #D5FAFC;
  position: relative;
}

.testimonial__div-text {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__div-text__quotes {
  display: none;
}

.testimonial__div-text__h1 {
  width: 93%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #0B0D17;
  text-align: center;
}

.testimonial__div-text__p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #0B0D17;
  text-align: center;
  width: 240px;
  margin-top: 48px;
}

.testimonial__div-text__span {
  color: #2EC5CE;
  font-style: 18px;
  font-weight: 700;
}

.testimonial__div-text__dots {
  margin-top: 40px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testimonial__div-text__dots .dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #D9DBE1;
  cursor: pointer;
}

.testimonial__div-text__dots > :nth-child(1) {
  background-color: #2EC5CE;
}

.testimonial__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
}

.testimonial__div-image {
  background-image: url(../img/girl.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 190px;
  position: absolute;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .clouds__div-text__p {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .testimonial {
    display: flex;
    justify-content: space-between;
    height: 596px;
  }
  .testimonial__div-text {
    margin-top: 0%;
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
  }
  .testimonial__div-text__quotes {
    display: block;
    position: absolute;
    top: 108px;
    opacity: .3;
  }
  .testimonial__div-text__h1 {
    text-align: left;
    font-size: 18px;
    width: 720px;
  }
  .testimonial__div-text__p {
    text-align: left;
  }
  .testimonial__div-text__dots {
    margin-top: 96px;
  }
  .testimonial__wrapper {
    align-items: flex-end;
    margin-top: 0%;
    width: 610px;
    height: 100%;
  }
  .testimonial__div-image {
    width: 350px;
    height: 556px;
    margin-right: 100px;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__cards {
  width: 92%;
  display: flex;
  justify-content: center;
}

.stats__cards__card {
  width: 200px;
  margin-right: 0px;
  margin-bottom: 20px;
  transform: scale(0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__cards__card__title {
  font-size: 24px;
  font-weight: 600;
  color: #0B0D17;
  margin-bottom: 8px;
}

.stats__cards__card__more {
  margin-bottom: 20px;
  height: 55px;
}

.stats__cards__card__more__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats__cards__card__more__img {
  transform: translateY(10px);
  width: 50px;
}

.stats__cards__card__more__span {
  margin-top: 20px;
  text-align: center;
  color: #8C30F5;
  margin-right: 8.83px;
  margin-left: 10px;
  width: 85%;
}

@media only screen and (min-width: 1200px) {
  .stats {
    height: 232px;
    justify-content: center;
  }
  .stats__cards {
    margin-top: 40px;
    width: 94.5%;
    justify-content: left;
  }
  .stats__cards__card {
    width: 347px;
    margin-right: 20px;
    transform: scale(1);
    display: block;
  }
  .stats__cards__card__title {
    font-size: 48px;
    font-weight: 800;
    color: #18191F;
  }
  .stats__cards__card__more {
    flex-direction: row;
  }
  .stats__cards__card__more__link {
    flex-direction: row;
  }
  .stats__cards__card__more__img {
    width: 28px;
  }
  .stats__cards__card__more__span {
    margin-top: 0;
    text-align: left;
    color: #18191F;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 8px;
  }
}

@media only screen and (min-width: 1400px) {
  .stats__cards__card {
    margin-right: 60px;
  }
}

.single__div-text {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single__div-text__h1 {
  margin-top: 20px;
  color: #0B0D17;
  text-align: center;
}

.single__div-text__p {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #0B0D17;
  text-align: center;
  width: 240px;
}

.single__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
}

.single__div-image {
  background-image: url(../img/phone-mockup.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .single__div-text__p {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .single {
    display: flex;
    justify-content: space-between;
    height: 614px;
  }
  .single__div-text {
    margin-top: 0%;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .single__div-text__h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: start;
  }
  .single__div-text__p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
  .single__wrapper {
    margin-top: 0%;
    width: 610px;
    height: 100%;
    padding-left: 5px;
  }
  .single__div-image {
    width: 540px;
    height: 540px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .single__div-text {
    margin-right: 170px;
  }
}

.cta {
  background-color: sandybrown;
  background-image: url(../img/bg-mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 92%;
  height: 288px;
  border-radius: 16px;
}

.cta__div-text {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-240px);
}

.cta__div-text__h1 {
  margin-top: 20px;
  color: #0B0D17;
  text-align: center;
  color: white;
  font-size: 15px;
}

.cta__div-text__email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cta__div-text__email__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__div-text__email__input {
  width: 248px;
  height: 52px;
  padding-left: 13px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta__div-text__email__button {
  width: 156px;
  height: 48px;
  border-radius: 5px;
  background-color: #18191F;
  color: white;
  border: none;
}

.cta__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.cta__div-image {
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 175px;
  transform: scale(0.5);
  position: absolute;
  z-index: 0;
  top: -40px;
}

@media only screen and (min-width: 768px) {
  .cta {
    display: flex;
    justify-content: space-between;
    height: 288px;
    border-radius: 16px;
  }
  .cta__div-text {
    margin-top: 0%;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(0px);
  }
  .cta__div-text__h1 {
    margin-top: -5px;
    font-weight: 800;
    text-align: start;
  }
  .cta__wrapper {
    margin-top: 0%;
    width: 610px;
    height: 100%;
    padding-left: 5px;
  }
  .cta__div-image {
    width: 175px;
    height: 160px;
    margin-top: 70px;
    margin-right: 0px;
    top: 0px;
    transform: scale(1);
  }
}

@media only screen and (min-width: 1200px) {
  .cta {
    width: 1130px;
  }
  .cta__div-text__h1 {
    font-size: 40px;
    width: 430px;
  }
  .cta__div-text__email__form {
    flex-direction: row;
  }
  .cta__div-text__email__input {
    border-radius: 5px 0px 0px 5px;
  }
  .cta__div-text__email__button {
    border-radius: 0px 5px 5px 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .cta {
    width: 1330px;
  }
}
