.clouds {
  &__div-text {
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h1 {
      margin-top: 20px;
      color: $black;
      text-align: center;
    }
    &__p {
      margin-top: 16px;
      color: $black;
      text-align: center;
      width: 240px;
    }
  }

  &__wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
  }

  &__div-image {
    background-image: url(../img/circle-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 0;
    &__image {
      transform: scale(0.6);
      position: absolute;
    }
    & > :nth-child(1) {
      //abnb
      top: -45px;
      left: 75px;
    }
    & > :nth-child(2) {
      //amazon
      top: 20px;
      left: 180px;
    }
    & > :nth-child(3) {
      //cam
      top: 30px;
      left: 75px;
    }
    & > :nth-child(4) {
      //dropbox
      top: 140px;
      left: 180px;
    }
    & > :nth-child(5) {
      //locator
      top: 140px;
      left: -35px;
    }
    & > :nth-child(6) {
      //lyft
      top: 200px;
      left: 75px;
    }
    & > :nth-child(7) {
      //monkey
      top: 110px;
      left: 117px;
    }
    & > :nth-child(8) {
      //slack
      top: 110px;
      left: 30px;
    }
    & > :nth-child(9) {
      //smile
      top: 20px;
      left: -35px;
    }
    
  }
}

@media only screen and (min-width: 768px) {

  .clouds {
    &__div-text {
      &__p {
        width: 450px;
      }
    }

  }

}

@media only screen and (min-width: 1200px) {
  .clouds {
    display: flex;
    justify-content: space-between;
    height: 614px;
    &__div-text {
      margin-top: 0%;
      width: 450px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 35px;
      &__h1 {
        font-size: 48px;
        font-weight: 800;
        text-align: start;
      }
      &__p {
        text-align: left;
        font-size: 18px;
        font-weight: 400;
      }
    }
    &__wrapper {
      margin-top: 0%;
      width: 610px;
      height: 100%;
    }
    &__div-image {
      width: 610px;
      height: 794;
      height: 486px;
      margin-right: 100px;
      &__image {
        transform: scale(1);
        z-index: 3;
      }
      & > :nth-child(1) {
        //abnb
        top: -45px;
        left: 195px;
      }
      & > :nth-child(2) {
        //amazon
        top: 30px;
        left: 365px;
      }
      & > :nth-child(3) {
        //cam
        top: 100px;
        left: 195px;
      }
      & > :nth-child(4) {
        //dropbox
        top: 370px;
        left: 365px;
      }
      & > :nth-child(5) {
        //locator
        top: 375px;
        left: 25px;
      }
      & > :nth-child(6) {
        //lyft
        top: 440px;
        left: 195px;
      }
      & > :nth-child(7) {
        //monkey
        top: 230px;
        left: 285px;
      }
      & > :nth-child(8) {
        //slack
        top: 230px;
        left: 100px;
      }
      & > :nth-child(9) {
        //smile
        top: 30px;
        left: 15px;
      }


    }
  }
}