// general colors.
$purple: #8C30F5;
$purple-100: #F1E4FF;

$turquoise: #2EC5CE;
$turquoise-100: #D5FAFC;

// gray tone colors.
$black: #0B0D17;
$gray-900: #18191F;
$gray-300: #D9DBE1;
$gray-200: #EEEFF4;
$gray-100: #F4F5F7;